<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>name</key>
	<string>Files</string>
	<key>uuid</key>
	<string>D1E5E32D-2276-41F5-B5F0-0F055E8C94C1</string>
</dict>
</plist>
